.coaching-list-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  height: 48vh;
  overflow: auto;
  scrollbar-color: rgba(132, 0, 255, 0.315) rgba(19, 9, 9, 0.075);
}

.coaching-list-detail-box{
  box-shadow: 0 10px 30px rgba(0,0,0,.05);
  border-radius: 20px;
  width: 70%;
  background-color: #c4b3fc57;
}

.contact-coaching{
  color: white;
  background-color: $violet-clair;
  padding: 2px 5px;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    background-color: $violet-fonce;
    color: white;
  }
}
