.link-accept-refuse{
  display: flex;
  justify-content: center;
  align-items: center;
  
  .accept-refuse{
    margin: 10px;
  }
}

.show-coaching-back{
  color: black;
  position: relative;
  padding-left: 20px;
}