<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Voir les offres", offers_path %>
=======
<div class="landing-img">
  <h1>Coach Seeker</h1>
  <h3>Where Sports meets !</h3>
  <%= link_to "Want to know more ?", root_path, class: 'btn btn-primary'  %>

</div>
