<div class="landing-img">
  <h1>Coach Seeker</h1>
  <h3>Where Sports meets !</h3>
  <%= link_to "Want to know more ?", root_path, class: 'btn btn-primary'  %>
</div>

<h2>Welcome to Coeach Seeker</h2>
<p>If you want to learn a new discipline or you are already an expert wishing to teach people, you are in the right place ! Coach Seeker is a place when student and teacher can meet to make appointement for a teaching lesson !</p>

<%= link_to "See offers", offers_path %>
<%= link_to "Create a new offer", new_offer_path %>


