<h1>If you are here to edit your training offer, it's the right place !!</h1>


<div class="wrapper h-25 p-2 bg-white">
  <div class="container">
    <%= render "form", offer: @offer %>
  </div>
</div>
