.btn-purple {
  text-weight: bolder;
  color: white;
  background-color: #916FFB;
  padding: 12px 24px;
  border-radius: 8px;
  margin-top: 16px;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    background-color: #5737bf;
    color: white;
  }
}
