.btn-purple {
  text-weight: bolder;
  color: white;
  background-color: $violet-clair;
  padding: 12px 24px;
  border-radius: 8px;
  margin-top: 16px;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    background-color: $violet-fonce;
    color: white;
  }
}

.purple-color {
  color: $violet-clair;
}

.btn-purple-little {
  text-weight: bolder;
  color: white;
  background-color: $violet-clair;
  padding: 3px 6px;
  border-radius: 4px;
  margin-top: 4px;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    background-color: $violet-fonce;
    color: white;
  }
}

.btn-purple-validate {
  text-weight: bolder;
  color: white;
  width: 100%;
  background-color: #FFD166;
  padding: 12px 24px;
  border-radius: 8px;
  margin-top: 16px;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    background-color: #FFBC1F;
    color: white;
  }
}
