.navbar-lewagon {
  justify-content: space-between;
  background: white;
  .nav-img:hover {
    transform: rotate(90deg);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
